{{!-- MACROS --}} 

<div class="handle-macros">
    <div class="handle-group-button" id="macros-button" data-tooltip="Open the Macros Window">
        <i class="fa-solid fa-sun"></i>
    </div>
    {{#each favoriteMacros as |fav|}}
        <div class="handle-macro-icon" data-macro-id="{{fav.id}}" data-tooltip="Macro: {{fav.name}}">
            <img src="{{fav.img}}" alt="{{fav.name}}" />
        </div>
    {{/each}}
</div>

