{{!-- HEALTH --}} 
{{#if showHandleHealthBar}}
    <span class="tray-handle-separator spacer"></span>
    <div class="handle-healthbar">
        <div class="handle-healthbar-fill {{actor.healthStatus}}" style="height: {{actor.healthPercentage}}%" data-tooltip="{{actor.system.attributes.hp.value}} HP"><i class="fas fa-skull" data-fa-transform="flip-h"></i></div>
    </div>
{{/if}}
