{{!-- CONDITIONS --}} 

<div class="handle-conditions">
    {{#if isGM}}
        <div class="handle-group-button" id="conditions-button" data-tooltip="Add or Remove Conditions">
            <i class="fa-solid fa-sparkles"></i>
        </div>
    {{/if}}
    {{!-- Core D&D 5e Conditions --}}
    {{#each effects as |effect|}}
        <img class="handle-condition-icon" src="{{effect.icon}}" data-tooltip="{{effect.name}}"/>
    {{/each}}
</div>

