{{!-- PRIMARY STATS --}} 
{{#if showHandleStatsPrimary}}
    <span class="tray-handle-separator line"></span>
    <span class="handle-stats-primary">
        <span class="tray-handle-content">{{actor.system.attributes.ac.value}}</span> <span class="tray-handle-label">AC</span>
        <span class="tray-handle-separator dot">•</span>
        <span class="tray-handle-content">{{actor.system.attributes.movement.walk}}</span> <span class="tray-handle-label">MOVE</span>
    </span>
{{/if}}
