{{!-- CHARACTER PORTRAIT --}} 
<div class="handle-characters">
    <div class="handle-character-icon" data-tooltip="Open character sheet for {{actor.name}}">
        <img  src="{{actor.img}}" alt="{{actor.name}}"/>
    </div>
</div>
