{{!-- CHARACTER PORTRAIT --}} 
<span class="tray-handle-separator spacer"></span>
<div class="handle-character-portrait-container">
    <img class="handle-character-portrait" src="{{actor.img}}" alt="{{actor.name}}" data-tooltip="Open character sheet for {{actor.name}}"/>
</div>
