{{!-- SECONDARY STATS --}} 

<span class="handle-stats-secondary">
    <span class="tray-handle-content">{{numberFormat actor.system.attributes.init.total sign=true}}</span> <span class="tray-handle-label">INIT</span>
    <span class="tray-handle-separator dot">•</span>
    <span class="tray-handle-content">+{{actor.system.attributes.prof}}</span> <span class="tray-handle-label">PROF</span>
</span>

