{{!-- DICE TRAY --}} 
{{#if showHandleDiceTray}}
    <span class="tray-handle-separator line"></span>
    <div class="handle-group-button" id="dice-tray-button" data-tooltip="Open Dice Tray">
        <i class="fas fa-dice-d20"></i>
    </div>
{{/if}}
