{{#if properties}}
    {{#each properties}}
        {{#if (eq this "vocal")}}<span class="panel-item-badge context-component component-v" title="Vocal Component">V</span>{{/if}}
        {{#if (eq this "somatic")}}<span class="panel-item-badge context-component component-s" title="Somatic Component">S</span>{{/if}}
        {{#if (eq this "material")}}<span class="panel-item-badge context-component component-m" title="Material Component">M</span>{{/if}}
        {{#if (eq this "concentration")}}<span class="panel-item-badge context-component component-c" title="Concentration Component">C</span>{{/if}}
        {{#if (eq this "ritual")}}<span class="panel-item-badge context-component component-r" title="Ritual Component">R</span>{{/if}}
    {{/each}}
{{/if}}
