
{{!-- CODEX TOOLS --}} 
<div class="handle-info-container">
    <span class="handle-info-title">Codex</span>
</div>

{{!-- CHARACTER PORTRAIT --}} 
{{> handle-character-portrait}}

{{!-- THESE DO NOT REQUIRE A SELECTED TOKEN --}} 

{{!-- MACROS --}} 
{{> handle-macros}}

{{!-- HEALTH --}} 
{{> handle-health-tray}}

{{!-- DICE TRAY --}} 
{{> handle-dice-tray}}

{{!-- FINALSEPARATOR --}} 
<span class="tray-handle-separator line"></span>