
{{!-- NOTE TOOLS --}} 
<div class="handle-info-container">
    <span class="handle-info-title">Notes</span>
</div>

<span class="tray-handle-separator spacer"></span>

{{!-- PLAYER --}} 
<div class="handle-partymembers">
    {{!-- CHARACTER PORTRAIT --}} 
    {{> handle-character-portrait}}
    {{!-- PLAYER HEALTH --}} 
    {{#if showHandleHealthBar}}
        {{> handle-health id="player"}}
    {{/if}}
</div>
<span class="tray-handle-separator line-ridge-thin"></span>

{{!-- THESE DO NOT REQUIRE A SELECTED TOKEN --}} 

{{!-- MACROS --}} 
{{#if showHandleMacros}}
    {{> handle-macros}}
    <span class="tray-handle-separator line-ridge-thin"></span>
{{/if}}

{{!-- HEALTH TRAYBUTTON --}} 
{{#if showHandleHealthBar}}
    {{#if isGM}}
        {{> handle-health-tray}}
        <span class="tray-handle-separator line-ridge-thin"></span>
    {{/if}}
{{/if}}

{{!-- DICE TRAY BUTTON --}} 
{{#if showHandleDiceTrayr}}
    {{> handle-dice-tray}}
    <span class="tray-handle-separator line-ridge-thin"></span>
{{/if}}