{{#if actor}}

    {{!-- CHARACTER NAME --}} 
    <div class="handle-info-container">
        <span class="handle-info-title">{{actor.name}}</span>
    </div>

    {{!-- CHARACTER PORTRAIT --}} 
    {{> handle-character-portrait}}
    
    {{!-- HEALTH --}} 
    {{> handle-health}}

    {{!-- FAVORITES --}} 
    {{> handle-favorites}}
    
    {{!-- CONDITIONS --}} 
    {{> handle-conditions}}

    {{!-- PRIMARY STATS --}} 
    {{> handle-primary-stats}}

    {{!-- SECONDARY STATS --}} 
    {{> handle-secondary-stats}}

{{else}}
    {{!-- NO CHARACTER SELECTED --}} 
    <div class="handle-info-container">
        <span class="handle-info-title">Select a Character</span>
    </div>
{{/if}}

{{!-- THESE DO NOT REQUIRE A SELECTED TOKEN --}} 

{{!-- MACROS --}} 
{{> handle-macros}}

{{!-- HEALTH --}} 
{{> handle-health-tray}}

{{!-- DICE TRAY --}} 
{{> handle-dice-tray}}

{{!-- FINALSEPARATOR --}} 
<span class="tray-handle-separator line"></span>