{{#if actor}}

    {{!-- CHARACTER NAME --}} 
    <div class="handle-info-container">
        <span class="handle-info-title">{{actor.name}}</span>
    </div>

    <span class="tray-handle-separator spacer"></span>

    {{!-- PLAYER --}} 
    <div class="handle-partymembers">
        {{!-- CHARACTER PORTRAIT --}} 
        {{> handle-character-portrait}}
        {{!-- PLAYER HEALTH --}} 
         {{#if showHandleHealthBar}}
            {{> handle-health id="player"}}
        {{/if}}
    </div>
    <span class="tray-handle-separator line-ridge-thin"></span>

    {{!-- FAVORITES --}} 
    {{#if showHandleFavorites}}
        {{> handle-favorites}}
        <span class="tray-handle-separator line-ridge-thin"></span>
    {{/if}}

    {{!-- CONDITIONS --}} 
    {{#if showHandleConditions}}
        {{> handle-conditions}}
        <span class="tray-handle-separator line-ridge-thin"></span>
    {{/if}}
    
    {{!-- PRIMARY STATS --}} 
    {{#if showHandleStatsPrimary}}
        {{> handle-primary-stats}}
        <span class="tray-handle-separator line-ridge-thin"></span>
    {{/if}}

    {{!-- SECONDARY STATS --}} 
    {{#if showHandleStatsSecondary}}
        {{> handle-secondary-stats}}
        <span class="tray-handle-separator line-ridge-thin"></span>
    {{/if}}


{{else}}
    {{!-- NO CHARACTER SELECTED --}} 
    <div class="handle-info-container">
        <span class="handle-info-title">Select or Create a Character</span>
    </div>
    <span class="tray-handle-separator spacer"></span>
{{/if}}

{{!-- THESE DO NOT REQUIRE A SELECTED TOKEN --}} 

{{!-- MACROS --}} 
{{#if showHandleMacros}}
    {{> handle-macros}}
    <span class="tray-handle-separator line-ridge-thin"></span>
{{/if}}

{{!-- HEALTH TRAYBUTTON --}} 
{{#if showHandleHealthBar}}
    {{#if isGM}}
        {{> handle-health-tray}}
        <span class="tray-handle-separator line-ridge-thin"></span>
    {{/if}}
{{/if}}

{{!-- DICE TRAY BUTTON --}} 
{{#if showHandleDiceTrayr}}
    {{> handle-dice-tray}}
    <span class="tray-handle-separator line-ridge-thin"></span>
{{/if}}

