{{#if (eq position "left")}}
<div class="tray-title-small">GLOBAL FILTERS</div>
<div class="control-search">
    <input type="text" class="global-search" placeholder="Search All Sections...">
    <i class="fas fa-times search-clear" title="Clear Search"></i>
</div>
<div class="control-icons">
    <i class="fas fa-heart control-toggle" data-toggle-panel="favorites" title="Toggle Favorites Panel"></i>
    <i class="fas fa-swords control-toggle" data-toggle-panel="weapons" title="Toggle Weapons Panel"></i>
    <i class="fas fa-sparkles control-toggle" data-toggle-panel="spells" title="Toggle Spells Panel"></i>
    <i class="fas fa-stars control-toggle" data-toggle-panel="features" title="Toggle Features Panel"></i>
    <i class="fas fa-backpack control-toggle" data-toggle-panel="inventory" title="Toggle Inventory Panel"></i>
</div>
{{/if}} 