<div class="section-header">
    <div class="header-left">
        <i class="fas fa-heart control-toggle" data-panel="favorites" title="Toggle Favorites Panel"></i>
        <i class="fas fa-sword control-toggle" data-panel="weapons" title="Toggle Weapons Panel"></i>
        <i class="fas fa-magic control-toggle" data-panel="spells" title="Toggle Spells Panel"></i>
        <i class="fas fa-backpack control-toggle" data-panel="inventory" title="Toggle Inventory Panel"></i>
    </div>
</div> 