<div class="character-panel">
    <!-- HEADER -->
    <div class="section-header">
        <div class="header-left">
            <div class="character-portrait">
                <img src="{{actor.img}}" alt="{{actor.name}}">
            </div>
            <i class="fas fa-user"></i> {{actor.name}}
        </div>
        <div class="header-right">
            <i class="fas fa-feather character-sheet-toggle" title="Open Character Sheet"></i>
        </div>
    </div>
</div> 