{{#if (eq position "left")}}
<div class="tray-title-small">Stats</div>

<div class="stat-boxes">
    <div class="stat-box">
        <i class="fas fa-gear"></i>
        <span class="stat-value">{{actor.system.details.level}}</span>
    </div>
    <div class="stat-box">
        <i class="fas fa-paw"></i>
        <span class="stat-value">{{actor.system.attributes.movement.walk}}</span>
    </div>
    <div class="stat-box">
        <i class="fas fa-shield"></i>
        <span class="stat-value">{{actor.system.attributes.ac.value}}</span>
    </div>
    <div class="stat-box">
        <i class="fas fa-plus-circle"></i>
        <span class="stat-value">+{{actor.system.attributes.prof}}</span>
    </div>
</div>
{{/if}} 