<div class="weapons-panel">
    {{#if (eq position "left")}}
    <div class="section-header">
        <i class="fas fa-sword"></i> Weapons
    </div>
    {{/if}}
    <div class="weapons-list">
        {{#each weapons}}
        <div class="weapon-item {{#if this.equipped}}equipped{{/if}}" data-weapon-id="{{this.id}}">
            <div class="weapon-row">
                <div class="weapon-image-container">
                    <img class="weapon-image" src="{{this.img}}" alt="{{this.name}}"/>
                    <i class="fas fa-dice-d20 weapon-roll-overlay"></i>
                </div>
                <div class="weapon-name">{{this.name}}</div>
                <div class="weapon-controls">
                    <a class="weapon-info" title="Weapon Details">
                        <i class="fas fa-feather"></i>
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>