<div class="squire-tray">
    <div class="tray-handle">
        <div class="handle-left">
            <i class="fas fa-chevron-up"></i>
            <span>{{actor.name}}'s Squire</span>
        </div>
        <button class="pin-button" title="Pin Tray">
            <i class="fas fa-thumbtack"></i>
        </button>
    </div>
    <div class="tray-content">
        <div class="tray-tabs">
            <div class="tab-item" data-tab="spells">
                <i class="fas fa-magic"></i>
                <span>{{localize "coffee-pub-squire.panels.spells"}}</span>
            </div>
            <div class="tab-item" data-tab="weapons">
                <i class="fas fa-sword"></i>
                <span>{{localize "coffee-pub-squire.panels.weapons"}}</span>
            </div>
            <div class="tab-item" data-tab="info">
                <i class="fas fa-info-circle"></i>
                <span>{{localize "coffee-pub-squire.panels.info"}}</span>
            </div>
        </div>
        <div class="panel-containers">
            <div class="panel-container" data-panel="spells"></div>
            <div class="panel-container" data-panel="weapons"></div>
            <div class="panel-container" data-panel="info"></div>
        </div>
    </div>
</div> 