<div class="squire-tray" data-position="left">
    <div class="tray-handle">
        <button class="pin-button" title="Pin Tray">
            <i class="fas fa-thumbtack"></i>
        </button>
        <i class="fas fa-chevron-right"></i>
        <div class="handle-left">
            {{> handle-player}}
        </div>
    </div>
    <div class="tray-content">
        {{#if actor}}
        <div class="panel-container" data-panel="character"></div>

        <div class="panel-container" data-panel="stats"></div>
        <div class="panel-container" data-panel="experience"></div>
        <div class="panel-container" data-panel="health"></div>
        

        <div class="panel-container" data-panel="dicetray"></div>
        <div class="panel-container" data-panel="control"></div>
        <div class="panel-containers stacked">
            <div class="panel-container" data-panel="favorites"></div>
            <div class="panel-container" data-panel="weapons"></div>
            <div class="panel-container" data-panel="spells"></div>
            <div class="panel-container" data-panel="features"></div>
            <div class="panel-container" data-panel="inventory"></div>
        </div>
        {{else}}
        <div class="no-character-message">
            Select a character token to view their information
        </div>
        {{/if}}
    </div>
</div> 