<div class="squire-tray" data-position="left">
    <div class="tray-handle">
        <button class="pin-button" title="Pin Tray">
            <i class="fas fa-thumbtack"></i>
        </button>
        <i class="fas fa-chevron-right"></i>
        <button class="tray-refresh" title="Refresh Tray">
            <i class="fas fa-arrows-rotate"></i>
        </button>
        <button class="view-toggle-button" title="Toggle View Mode">
            <i class="fas {{#if (eq viewMode 'party')}}fa-users{{else}}fa-user{{/if}}"></i>
        </button>
        <div class="handle-left">
            {{> handle-player}}
        </div>
    </div>

    <div class="tray-content player-view {{#unless (eq viewMode 'player')}}hidden{{/unless}}">
        {{#if actor}}
        <div class="panel-container" data-panel="character"></div>
        {{#if @root.settings.showExperiencePanel}}
        <div class="panel-container" data-panel="experience"></div>
        {{/if}}
        {{#if @root.settings.showAbilitiesPanel}}
        <div class="panel-container" data-panel="abilities"></div>
        {{/if}}
        {{#unless isHealthPopped}}
            {{#if @root.settings.showHealthPanel}}
            <div class="panel-container" data-panel="health"></div>
            {{/if}}
        {{/unless}}
        {{#if @root.settings.showStatsPanel}}
        <div class="panel-container" data-panel="stats"></div>
        {{/if}}
        {{#unless isDiceTrayPopped}}
            {{#if @root.settings.showDiceTrayPanel}}
            <div class="panel-container" data-panel="dicetray"></div>
            {{/if}}
        {{/unless}}
        <div class="panel-container" data-panel="control"></div>
        <div class="panel-containers stacked">
            <div class="panel-container" data-panel="favorites"></div>
            <div class="panel-container" data-panel="weapons"></div>
            <div class="panel-container" data-panel="spells"></div>
            <div class="panel-container" data-panel="features"></div>
            <div class="panel-container" data-panel="inventory"></div>
        </div>
        {{else}}
        <div class="no-character-message">
            Select a character token to view their information
        </div>
        {{/if}}
    </div>

    <div class="tray-content party-view {{#unless (eq viewMode 'party')}}hidden{{/unless}}">
        <div class="panel-container" data-panel="party"></div>
    </div>
</div> 