/* --- COMMON STYLES --- */

/* used for bars */
.bar-section {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.tray-title-small {
    color: #9f9275;
    font-size: 0.85em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
