.gm-panel {
    background: rgba(0, 0, 0, 0.35);
    border: 2px solid #444;
    border-radius: 4px;
    margin-top: 6px;
    padding: 4px;
    color: #9f9275;
    font-size: 1.2em;
}

.gm-panel .gmdetails-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
}

.gm-panel .gmdetails-controls i {
    transition: transform 0.2s ease;
}

.gm-panel .gmdetails-content {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 0.75em;
    text-transform: none;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 4px;
}

.gm-panel .gmdetails-content.collapsed {
    display: none;
}

.gm-panel .gm-row {
    border: 0px dotted rgba(155, 142, 114, 0.5);
    padding-top: 4px;
}

.gm-panel .details-biography {
    font-size: inherit;
    line-height: inherit;
    text-transform: inherit;
}

.gm-panel h1.gm-row-title {
    font-size: 1.2em;
    line-height: 1.4;
    text-transform: uppercase;
    padding: 2px 4px 2px 4px;
    margin: 10px 0px 10px 0px;
    border: 0px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.9);
}

