.squire-tray[data-position="left"] [data-panel="gm"] {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    background: #000000;
    border: 2px solid #444;
    border-radius: 6px;
}

.squire-tray[data-position="left"] [data-panel="gm"] .gmdetails-controls {
    display: flex;
    gap: 8px;
    align-items: center;
}

.squire-tray[data-position="left"] [data-panel="gm"] .gmdetails-toggle {
    color: #9f9275;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.squire-tray[data-position="left"] [data-panel="gm"] .gmdetails-toggle:hover {
    color: #fff;
}

.squire-tray[data-position="left"] [data-panel="gm"] .gmdetails-content {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: max-height 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 0.75em;
    text-transform: none;
    padding-right: 4px;
}

.squire-tray[data-position="left"] [data-panel="gm"] .gmdetails-content.collapsed {
    max-height: 0;
}

.squire-tray[data-position="left"] [data-panel="gm"] .gm-row {
    border: 0px dotted rgba(155, 142, 114, 0.5);
    padding-top: 4px;
}

.squire-tray[data-position="left"] [data-panel="gm"] .details-biography {
    font-size: inherit;
    line-height: inherit;
    text-transform: inherit;
}

.squire-tray[data-position="left"] [data-panel="gm"] h1.gm-row-title {
    font-size: 1.2em;
    line-height: 1.4;
    text-transform: uppercase;
    padding: 2px 4px 2px 4px;
    margin: 10px 0px 10px 0px;
    border: 0px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.9);
}

